*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
sdr/data
*.Rproj
sdr/report/_freeze/*
sdr/report/_manuscript/*
sdr/report/index_cache/*
sdr/report/.quarto/
sdr/report/index_files/